h1{
    color: darkmagenta;
}
h2{
    color: deepskyblue;
}
.text{
    color: lawngreen;
}
p{
    color: darkblue;
}
.name{
    color: darkgoldenrod;
}
#wow{
    color: firebrick;
}
#we{
    color: hotpink;
}
#zero{
    color: orange
    ;
}